@model IEnumerable<IfRolesExample.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Roles";
    string message = ViewBag.Message;
    bool isSuccess = message.StartsWith("Role deleted ");
}

<h1>Roles</h1>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert @((isSuccess || message == "Role deleted successfully.") ? "alert-success" : "alert-danger")" role="alert">
        @message
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-roleName="@item.RoleName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
